*{
	margin:0;
	padding:0;
}

.Menu 
{
	background-image: url(./img/banner-1.jpg);
	width:100%;
	height: 670px;
	background-repeat: no-repeat;
	opacity: 0.9;
}
.Header
{
	width:100%;
	height:106px;
	margin:52px 0 0 106px;
	float:left;
	background: grey;

}

#logoText
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size:24px;
	color:white;
	line-height: 34px;
	font-weight: 700;
	
}
#logoText1
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size:12px;
	color:white;
	opacity: 0.7;
}

#backGr{
	
	width:100%;
	height: 670px;
	 background: #000; 
	 opacity: 0.8;
}

.MenuBar
{
	color:white;
	width: 440px;
	height: 106px;
	background: white;
	float:left;
}

#logoImg
{
height: 49px;
width: 76px;
float:left;
}
#Logo
{
	margin-left:5px;
	width: 160px;
	height: 106px;
	float:left;
}
