body
{
	font-size:10px!important;
}
.menuBlock
{
	background-image: url(/img/banner-1.jpg);
	width:100%;
	height: 670px;
	background-repeat: no-repeat;
	opacity: 0.9;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

#backGr{
	
	width:100%;
	height: 670px;
 	background: rgba(0, 0, 0, 0.8);
	
}

.blue-bg{
	width: 100%;
	height: 670px;
	background-repeat: no-repeat;
	background-image: url(/img/bk.png);
}

.blue-bg >.container {
	padding-top:52px;
}

.logoText
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size:24px;
	color:white;
	line-height: 34px;
	font-weight: 700;
	
}
.logoText1
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size:12px;
	color:white;
	opacity: 0.7;
	line-height: 12px;
}
.m-l-5
{
	margin-left:5px;
}

.menuBar
{
	color:white;
	float:left;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight: normal;
	line-height: 28px;
}
.dropdown:hover > .dropdown-menu { 
    display: block; 
} 

.m-p-l-0
{
	margin-left: 0px!important;
	padding-left:0px!important;
}

.dropdown > a {
    color: #fff!important;
    
}
.dropdown > a:hover {
    background-color: #000!important;
}
.dropdown-menu{
    width: 240px;
	background-color:#000!important;
	top:49px !important;  
	left:-1px !important;  
    font-size: 16px!important;
    padding:0!important;
}
.dropdown-menu > li > a {
    color: #fff!important;
    background-color: black;
    padding: 8px 20px!important;
}
.dropdown-menu> li > a:hover {
    background-color: black!important;
    border-left: 3px solid blue;
}

.h-text {
	line-height: 100px;
	font-size:72px;
	font-weight: 700;
	margin-bottom: 30px;

}
.content-text{
font-size:15px;
font-weight: 300;
line-height: 28px;
opacity: 0.7;

}

.content-text-again{

font-size:20px;
font-weight: 700;
line-height: 28px;
}
.m-l-20
{
	margin-left: 20px;
}

.track-id
{
	width: 450px;
	height: 316px;
	background-image: url(/img/map-small.png);
	background-color:#fff;
	text-align: center;
	background-size:cover;
	float:left;
}
.track-order-text
{
	font-size:14px;
	line-height: 28px;
	color:#212121;
	margin-top:10px;
	opacity: 0.75;
	font-family: inherit;
}

.input-id
{
	background-color: transparent;
	border: 0px solid transparent;
	color:#757575;
	border-bottom: 2px solid #757575;
	font-size:16px;
	width: 60%;
	margin-top: 20px;
	text-transform: uppercase;
	padding: 10px 0;
	outline:none;
	background-image: url(/img/search.jpg);
	background-repeat: no-repeat;
	background-position: right;
}

.track-id h3{

	font-size:30px;
	line-height: 30px;
}

.bkGr
{
	width: 100%;
	height: 316px;
	float:left;
	background: rgba(33, 33,33, 0.2);
}
.cont-fl
{
	margin: 72px 0 0 106px!important;
	color:#fff;
}
/*First block*/

.track-app {

	width: 100%;
	background-color:#f5f5f5;
	font-size: 18px;
    line-height: 35px;
    color: #757575;
}
.heading {

	font-size:60px;
	line-height: 80px;
	font-weight: 700;
    color: #212121;
}
.track-app>.container,.worldwide-center>.container, .back-ground-color>.container,
.estimate>.container, .get-in-touch>.container{
	padding-top: 125px;
}
.blue-line
{
	width: 60px;
	height: 6px;
	background-color:#03a9f4;
	margin:50px auto;
}

.app-phone{

	margin: 100px 245px;
	
}
.white-phone-img
{
    z-index: 2;
}

.black-phone-img
{
	z-index: 3;
   position: absolute!important;
}
/*Second block*/
.worldwide-center{
	width: 100%;
	background-color:#212121;
	font-size: 18px;
    line-height: 35px;
    color: #fff;
}

.map-img{

	background-image: url(/img/map.png);
	width: 100%;
	height: 570px;
	opacity: 0.3;
	margin: 100px 0;
}

/*Next*/

.banner-2
{
	width: 100%;
	height: 719px;
	background-image:url(/img/banner-2.jpg);
	background-size:cover;
	font-weight: 400;
    font-size: 21px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    color:#fff;

}
.text-white
{
	color:#fff;
}

.back-ground-color
{
	width:100%;
	height: 719px;
 	background: rgba(33, 33, 33, 0.9);
}
.mw-800
{
	max-width: 800px;
	margin: 100px auto;
}

.avatar-img{
	width: 60px;
	height: 60px;
	border:2px solid #03a9f4;
}
.avatar-name {
	text-transform: uppercase;
	font-size:16px;
	line-height: 28px;
	color:#fff;
	margin-top:5px;
	
	text-align: left;
}

.company{
	font-size:12px;
	opacity: 0.7;
	color:#fff;
	text-transform: uppercase;
	text-align: left;
	
	line-height: 28px;
}
.float-none
{
	float:none!important;
	margin: 0 auto;
}
/*Next*/
.estimate
{
	width: 100%;
	background-color:#fff;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 35px;
	color: #757575;
}
.blue-line-left
{
	width: 60px;
	height: 6px;
	background-color:#03a9f4;
	margin:50px 0;
}
.estimate .container .row .col-md-12> p
{
	margin-bottom:100px;
}
.input-estimate
{	background-color: #f5f5f5 !important;
	color: #757575 !important;
    border: 0px solid rgba(255, 255, 255, 0.5) !important;
    height: 50px !important;
    margin-top:10px !important;
    margin-bottom: 40px !important;
    outline: none !important;
    padding:10px 15px !important;
    border-radius: 0px!important;
    font-size: inherit !important;
    line-height: inherit!important;
    box-shadow:none!important;

}
.input-estimate:focus
{
    border: 0px solid #03a9f4!important;
    background-color: #eeeeee!important;
    box-shadow:none!important;
}
.text-label
{
	text-transform: uppercase;
	color:#757575;
	font-weight:bold;
	font-size:16px;
	line-height: 28px;
}

.img-estimate
{
	max-width: 113%;
}

.get-in-touch
{
	width: 100%;
	background-color:#fff;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 35px;
	color: #757575;
}

.get-in-touch .container .row .col-md-12> p
{
	margin-bottom:100px;
}
.h-150
{
	height: 150px!important;
}


.button
{
	height: 40px;
	min-width:140px;
	outline: none;
	background-color:#03a9f4;
	color:#fff;
	font-family: inherit;
    font-size: 14px;
    line-height: 28px;
   	padding: 6px 15px;
   	opacity: 0.65;
   	font-weight: bold;
   	border:none;
   	border-radius: 0;
   	margin-bottom: 50px;
}
.m-0-auto
{
	margin:0 auto;
}

.table-button
{
	border-right: 1px solid #fff !important;
    border-bottom: 1px solid #fff !important;
    border-top: 1px solid #fff!important;
}