*{
	margin:0;
	padding:0;
}

.menuBlock
{
	background-image: url(./img/banner-1.jpg);
	width:100%;
	height: 670px;
	background-repeat: no-repeat;
	opacity: 0.9;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.header
{
	width:calc(100%-1px);/*wtf?*/
	height:106px;
	padding:52px 0 0 106px;
	

}

#logoText
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size:24px;
	color:white;
	line-height: 34px;
	font-weight: 700;
	
}
#logoText1
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size:12px;
	color:white;
	opacity: 0.7;
}

#backGr{
	
	width:100%;
	height: 670px;
 	background: rgba(0, 0, 0, 0.8);
	
}

.menuBar/*Подсветка пункта меню?*/
{
	color:white;
	width: 600px;
	height: 106px;
	float:left;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight: normal;
	line-height: 28px;
}

#logoImg
{
height: 49px;
width: 76px;
float:left;
}
#Logo
{
	margin-left:5px;
	width: 160px;
	height: 106px;
	float:left;
}

ul {
    /* Убираю маркеры у списка*/
    list-style: none;
    /* Делаю элементы блочными. */
    display: block;
}
ul:after {
    /* Делаю элементы блочными. */
    display: block;
    /* Убираю выравнивание. */
    float: none;
    content: ' ';
    clear: both;
}
ul.menu > li {
    /* Задаю выравнивание и позиционирование. */
    float: left;
    /* Считаем координаты относительно исходного места(Родительский элемент*/
    position: relative;
    margin: 0 0 0 30;
}
ul.menu > li > a {
    /* Делаю элементы блочными: */
    display: block;
    /* Задаю белый цвет. */
    color: #fff;
    /* Задаю отступ 10px. */
    padding: 10px;
    /* Убираю форматирование*/
    text-decoration: none;
    
}
ul.menu > li > a:hover {
    /* Задаю цвет при наведении. */
    background-color: #000;
}
ul.submenu {
    position: absolute;
    width: 240px;
    top: 35px;
    /* Делаю субменю скрытыми. */
    display: none;
    
}
ul.submenu > li {
    /* Блочное расположение элементов Не нужно?*/
    display: block;
}
ul.submenu > li > a {
    /* Делаю элементы блочными. */
    display: block;
    /* Убираю форматирование*/
    text-decoration: none;
    /* Задаю цвет. */
    color: #fff;
    /* Еще цвет. */
    background-color: black;
    padding: 5;
}
ul.submenu > li > a:hover {
    /* Цвет бэкграунда при наведении. */
    background-color: black;
    border-left: 3px solid blue;
}
ul.menu > li:hover > ul.submenu {
    /* Делаю элементы блочными. Непосредственно отображение*/
    display: block;
}

.content{

	width:calc(100%-1px);
	height: 316px;
	margin:50px 0 0 106px;
	color: white;
	font-family: inherit;
}

.first-half{

	width:40%;
	height: 316px;
	float:left;
}

.second-half{
	width: 60%;
	height: 316px;
	float:left;
	background: rgba(33, 33,33, 0.2);
}
h1{

	line-height: 100px;
	font-size:72px;
	font-weight: 700;
}

.content-text{
font-size:15px;
font-weight: 300;
line-height: 28px;
opacity: 0.7;

}

.content-text-again{

font-size:20px;
font-weight: 700;
line-height: 28px;
}
.cont-text{
	float:left;
	margin-left:20px;
}

.track-id
{
	width: 450px;
	height: 316px;
	background-image: url(./img/map-small.png);
	background-color:#fff;
	text-align: center;
	background-size:cover;
	float:left;
}

h3{

	font-size:30px;
	line-height: 30px;
	color:#212121;
	margin-top:10px;
	opacity: 0.75;
	font-family: inherit;
}

.track-order-text
{
	font-size:14px;
	line-height: 28px;
	color:#212121;
	margin-top:10px;
	opacity: 0.75;
	font-family: inherit;
}

.input-id
{
	background-color: transparent;
	border: 0px solid transparent;
	color:#757575;
	border-bottom: 2px solid #757575;
	font-size:16px;
	width: 60%;
	margin-top: 20px;
	text-transform: uppercase;
	padding: 10px 0;
	outline:none;
	background-image: url(./img/search.jpg);
	background-repeat: no-repeat;
	background-position: right;
}

.social{

width: 78%;
text-align: right;
margin-top:80px;
}

.test{
	width: 100%;
	height: 670px;
	background-repeat: no-repeat;
	background-image: url(./img/bk.png);
}

/*Конец первого блока.*/
.tracking-app{

	width: 100%;
	height: 1304px;
	background-color:#f5f5f5;
}

.container
{
	padding: 125px 0px;
	text-align:center;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;

}
.container h1
{
	font-size:60px;
	line-height: 80px;
	font-weight: 700;
    color: #212121;
}
.blue-line
{
	width: 60px;
	height: 6px;
	background-color:#03a9f4;
	margin:50px auto;
}

.container p{

	text-align:center;
	font-size: 18px;
    line-height: 35px;
    color: #757575;
}

.app-phone{

	width: 80%;
	margin: 100px 345px;
	
}
.white-phone-img
{
	width: 40%;
	height: 800px;
	float:left;
    z-index: 2;
}

.black-phone-img
{
	width: 40%;
	height: 800px;
	position:absolute;
	z-index: 3;
   
}

/*Конец второй блока*/

.worldwide-center{
	width: 100%;
	height: 1168px;
	background-color:#212121;
}

.container3 h1 , .container4  h1
{
	font-size:60px;
	line-height: 80px;
	font-weight: 700;
    color: #fff;
}

 .container3 p
{
	font-size: 18px;
    line-height: 35px;
    color: #fff;
}
.container3 {
	padding: 125px 15px;
	text-align:center;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	width: calc(100%-1px);
	height:918px;
}

.map-img{

	background-image: url(./img/map.png);
	width: 1140px;
	height: 570px;
	opacity: 0.3;
	margin: 100 auto;
}

/*Конец третьего блока*/
.banner-2
{
	width: 100%;
	height: 719px;
	background-image:url(./img/banner-2.jpg);
	background-size:cover;
}

.back-ground-color
{
	width:100%;
	height: 719px;
 	background: rgba(33, 33, 33, 0.9);
}

.container4 {
	padding: 125px 15px;
	text-align:center;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	width: calc(100%-1px);
	height:469px;
}

.container4 > p{
	font-weight: 400;
    font-size: 21px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    color:#fff;
    max-width: 800px;
    margin: 0 auto;
    padding: 50 0;
}

.avatar{
	width: 250px;
	height: 61px;
	margin:0 auto;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;

}

.avatar img{

	width: 60px;
	height: 60px;
	border:2px solid #03a9f4;
	border-radius: 50%;
	float:left;
}
.avatar-name {
	text-transform: uppercase;
	font-size:16px;
	line-height: 28px;
	color:#fff;
	margin-top:5px;
	padding-left:75px;
	text-align: left;
}

.company{
	font-size:12px;
	opacity: 0.7;
	color:#fff;
	text-transform: uppercase;
	text-align: left;
	padding-left:75px;
	line-height: 28px;
}

/*Конец четвертого блока*/

.service-estimate
{
	width: 100%;
	height: 1106px;
	background-color:#fff;
}
.container5
{
	padding: 125px 0px;
	text-align:left;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;

}
.container5 h1
{
	font-size:60px;
	line-height: 80px;
	font-weight: 700;
    color: #212121;
    margin-left:8.3%;
}
.blue-line-left{

	width: 60px;
	height: 6px;
	background-color:#03a9f4;
	margin-left:8.3%;
	margin-top:50px;
}
.container5 p{
text-align:left;
font-size: 18px;
line-height: 35px;
color: #757575;
margin-left:8.3%;
margin-top:50px;
}

.forma{
	width: calc(100%-1px);
	height: 700px;
	margin-left:8.3%;
	margin-top:100px;
	
}

.form-left
{
	width: 33.5%;
	height: 700px;
	float:left;
}
.form-right{
	width: 66.5%;
	height: 700px;
	background-image: url(./img/estimate-fork-blue.jpg);
	background-repeat: no-repeat;
	float:left;
	
}

.text-label{
	text-transform: uppercase;
	color:#757575;
	font-weight:bold;
	font-size:16px;
	line-height: 28px;
}

.service-input{

	background-color: #f5f5f5;
	color: #757575;
    border: 0px solid rgba(255, 255, 255, 0.5);
    height: 50px;
    margin-top:10px;
    margin-bottom: 40px;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
    padding:10px 15px;

}

.input-type2{
	width: 47%;
	float:left;
}

.space
{
	float:left;
	width: 6%;
	height: 1px;
}

.input-type3{

	width: 29%;
	float:left;
}
/*Конец пятого блока*/

.get-in-touch
{
	width: 100%;
	height: 926px;
}

.text-form
{
	margin-left:8.3%;
	margin-top:100px;
	width: 40%;
	height: 700px;
	float:left;
}

.input-msg{

	background-color: #f5f5f5;
	color: #757575;
    border: 0px solid rgba(255, 255, 255, 0.5);
    height: 150px;
    margin-top:10px;
    margin-bottom: 40px;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
    padding:10px 15px;
}

.button
{
	height: 40px;
	min-width:140px;
	outline: none;
	background-color:#03a9f4;
	color:#fff;
	font-family: inherit;
    font-size: 14px;
    line-height: 28px;
   	padding: 6px 15px;
   	opacity: 0.65;
   	font-weight: bold;
   	border:none;
   	float:left;
}
