*{
	margin: 0;
	padding: 0;

}
.div1{

width: 600px;
height: 100px;
background: #000;
opacity: 0.7;
font-size:24px;

}
.div2
{
width: 100px;
height: 100px;
background: yellow;
opacity: 0.7;
font-size:24px;
float:left;
}
.div3
{
width: 50px;
height: 100px;
background: blue;
opacity: 0.7;
font-size:24px;
float:left;
}
.div4
{
width: 250px;
height: 100px;
background: green;
opacity: 0.7;
font-size:24px;
float:left;
}